/* PALLETE */
/*
HEADING
  h1: rgb(16, 109, 119) Blue Sapphire
  h2, h3, h4: rgb(38, 121, 131);
Anchor #5299d3 Carolina Blue
Primary Button #a2bce0 Pale Cerulean
Accent (important) Buttons #5bc0be Sea Serpent
Side Text Background #f3fafd
*/

body {
  background-color: #A8A8A8;
}


h1 {
  color: rgb(16, 109, 119);
}

h2, h3, h4, h5, h6 {
  color: rgb(38, 121, 131);
}

/* Jumbotron heading */
.display-3 {
  font-size: 3rem;
}

/* #wishlist-wrapper {
  border: 1px solid red;
  position: fixed;
} */

.wishlist-items {
  padding: 0;
}

.contents-section {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: #F8F8F8;
  /*background-color: #F2FCF3; LIGHT GREENISH */
  border-radius: 3px;
  padding: 1em;
  margin-bottom: 1em;
}






.wishlist-box {
  /* width: 300px; */
  padding: .4em;
  position: fixed;
  z-index: 5;
  overflow-x: hidden;
  /* height: 370px; */
  /* margin-left: 15px;
  margin-right: 15px; */

  height: 25vh;
  bottom: 0;
  /* border-radius: 0; */
  margin-bottom: 0;
border: 1px solid red;
}

.wishlist-box__header {
  margin-bottom: .15em;
  display: inline-block;
  /* border: 1px solid blue; */
}

.wishlist-box__btn {
  margin-bottom: .15em;
  /* border: 1px solid red; */
  display: inline-block;

}

/*  original wishlist on all devices*/
/* .wishlist-box {
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
} */


/* .container {
  border: 1px solid red;
  padding-left: 90px;;
} */










.side-note {
  color: gray;
  background-color: #FFFDEF;
  padding: 1em;
}

.side-warning {
  color: gray;
  background-color: #FFECB3;
  background-color: #f3fafd;
  padding: 1em;
}

.definitions {
  /* background-color: rgb(208, 208, 208); */
  background-color: #f3fafd;
  padding: 1em;
}

/* this prevents primary use icons from changing colors */
.definition-icon {
  color: #5299d3;
}

table {
  border-collapse: collapse;
  margin-bottom: 2em;
}

th, td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr {
  background-color: #F2FCF4;
}

th {
  background-color: #89b692;
}

ul {
  list-style-type: none;
}

.primary-content-ul-toc {
  background-color: #f3fafd;
  border-radius: 2px;
  border: 1px solid #ecf8ff;
}

.primary-content-ul {
  background-color: #f3fafd;
  border-radius: 2px;
  border: 1px solid #ecf8ff;
  list-style-type: disc;
  /*Allows the bullets to be a particular color:*/
  color:#7CA7BF;
  /*border: 1px solid red;*/
}

  .primary-content-ul span {
    /*After changing bullet color, change th txt*/
    color: black;
  }

/*BUTTON and NAV -----------------------------------------*/

a {
  color: #5299d3;
}
.nav-link {
  color: #5299d3;
}

.button-group {
  margin-bottom: .5em;
}

.btn-default {
  /*color is lighter gray to prevent distraction*/
  /* color: rgb(94, 94, 94); */
  color: #5e5c6c;
  background-color: #a2bce0;
}

.btn-warning, .btn-danger, .btn-success {
  color: #fff;
  background-color: #a2bce0;
}

.btn-accent {
  background-color: #beb8eb;
  background-color: #5bc0be;
  border: none;
}

.btn-accent:hover {
  background-color: #4c9e9c;
  cursor: pointer;
}

.btn-default:hover {
  color: rgb(33, 33, 33);
  background-color: #F2FCF3;
  border-color: rgb(38, 121, 131);
}

.input-group {
  width: 60%;
  margin-bottom: .4em;
}

.msg {
  width: 60%;
}

input {
  display: inline;
  border: 1px solid green;
}

button {
  display: inline;
  border: 1px solid blue;
}

.fa {
  display: block;
  margin-bottom: 1em;
}

.fa-heart {
  color: red;
}

.fa-birthday-cake {
  color: pink;
}

.fa-exclamation-triangle {
  color: #FF8F00;
}

.fa-sticky-note-o {
  /*color: #ffd740;*/
  color: #FBC02D;
}

.fa-plus {
  color: #5e5c6c;
}

.fa-sticky-note {
  color: #f0c837;
}

.fa-eye {
  color: #2196F3;
}

.fa-trash {
  color: #FF5049;
  /* color: #a4243b; */
  cursor: pointer;
  margin-right: .3em;
}

.button-group__btn {
  cursor: pointer;
  margin-bottom: .3em;
}

.add__btn {
  cursor: pointer;
}

/*tr:nth-child(even) {
  background-color: rgb(224, 224, 224);
  background-color: #F2FCF4;
}*/


/* TABLET, 768px and up*/
@media (min-width: 768px) {

  .page-wrapper {
    margin: auto;
    width: 85%;
  }

  .wishlist-box {
  }


}

/* DESKTOP large devices, 992px and up*/
@media (min-width: 992px ) {
  .page-wrapper {
    margin: auto;
    width: 65%;
  }

  .wishlist-box {
    width: 400px;

    height: 45vh;
    top: 0;
    left: 0;
    border-radius: 0 3px 3px 0;
  }

  .wishlist-box__header {
    display: block;
  }

  .wishlist-box__btn {
    display: block;
  }

  .contents-section {
    margin-bottom: 2em;
  }

}

/* DESKTOP extra large devices,  1200px and up*/
@media (min-width: 1200px) {

  .display-3 {
    font-size: 4.5rem;
  }

  .page-wrapper {
    margin: auto;
    width: 45%;
  }

  .wishlist-box__header {
    display: block;
  }

  .wishlist-box__btn {
    display: block;
  }



}
