/* PALLETE */
/*
HEADING rgb(16, 109, 119) Blue Sapphire
Anchor
Button #a2bce0 Pale Cerulean

*/


body {
  background-color: #A8A8A8;
}

h1 {
  color: rgb(16, 109, 119);
}

h2, h4 {
  color: rgb(38, 121, 131);
}

.wishlist-box {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 23%;
}

.wishlist-items {
  padding: 0;
}

.contents-section {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: #F8F8F8;
  /*background-color: #F2FCF3; LIGHT GREENISH */
  border-radius: 3px;
  padding: 1em;
  margin-bottom: 2em;
}

.side-note {
  color: gray;
  background-color: #FFFDEF;
  padding: 1em;
}

.side-warning {
  color: gray;
  background-color: #FFECB3;
  background-color: #beb8eb;
  padding: 1em;
}

.definitions {
  background-color: rgb(208, 208, 208);
  padding: 1em;
}

table {
  border-collapse: collapse;
  margin-bottom: 2em;
}

th, td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr {
  background-color: #F2FCF4;
}

th {
  background-color: #89b692;
}

ul {
  list-style-type: none;
}

.primary-content-ul-toc {
  background-color: #f3fafd;
  border-radius: 2px;
  border: 1px solid #ecf8ff;
}

.primary-content-ul {
  background-color: #f3fafd;
  border-radius: 2px;
  border: 1px solid #ecf8ff;
  list-style-type: disc;
  /*Allows the bullets to be a particular color:*/
  color:#7CA7BF;
  /*border: 1px solid red;*/
}

  .primary-content-ul span {
    /*After changing bullet color, change th txt*/
    color: black;
  }

/*BUTTON STYLES-----------------------------------------*/
.button-group {
  margin-bottom: .5em;
}

.btn-default {
  /*color is lighter gray to prevent distraction*/
  /* color: rgb(94, 94, 94); */
  color: #5e5c6c;
  background-color: #a2bce0;
}

.btn-warning, .btn-danger, .btn-success {
  color: #fff;
  background-color: #a2bce0;
}

.btn-default:hover {
  /*txt color only change to draw attention to btn*/
  color: rgb(33, 33, 33);
  background-color: #F2FCF3;
  border-color: rgb(38, 121, 131);
}

.input-group {
  width: 60%;
  margin-bottom: .4em;
}

.msg {
  width: 60%;
}

input {
  display: inline;
  border: 1px solid green;
}

button {
  display: inline;
  border: 1px solid blue;
}

.fa {
  display: block;
  margin-bottom: 1em;
}

.fa-heart {
  color: red;
}

.fa-birthday-cake {
  color: pink;
}

.fa-exclamation-triangle {
  color: #FF8F00;
  /* color: #beb8eb; */
}

.fa-sticky-note-o {
  /*color: #ffd740;*/
  color: #FBC02D;
}

.fa-eye {
  color: #2196F3;
}

.fa-trash {
  /* color: #FF5049; */
  color: #a4243b;
  cursor: pointer;
  margin-right: .3em;
}

.fa-bomb {
  color: black;
}

.container {
  /* border: 1px solid red; */
}


/*tr:nth-child(even) {
  background-color: rgb(224, 224, 224);
  background-color: #F2FCF4;
}*/
