h1 {
  color: rgb(16, 109, 119);
}

.hidden {
  display: none;
}


.container {
  border: 1px solid red;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
  background-color: rgb(224, 224, 224);
}

ul {
  list-style-type: none;
}


.teddy {
  border: 1px solid red;
}
